<div class="thumbnail">
  <%= image_tag "poster", class:"img-responsive" %>
</div>

<p>Sevgili İTÜ’lü Melek Yatırımcı,</p>

<p>229 proje girişim sermayesini almak üzere sıraya girdi. Birazdan bu iş için ayırdığın 100.000 Tl’yi 

gelecek vaat eden projelere yatırıyor olacaksın. Bunun için yarışma kurallarımıza bir göz atalım.</p>
<ol>
  <li>100.000 TL’yi en az 1 en çok 35 projeye yatırabilirsin.</li>
  <li>100.000 TL’yi eşit parçalara bölmek zorunda değilsin.</li>
  <li>Bir kısmını ya da hepsini harcayabilirsin.</li>
  <li>Yatırımcı 4 Ekim Pazar günü saat 17.00’ye kadar  yapmalısın.</li>
</ol>

<p>Projelerin ticarileşebilirliğine, rekabet edebilme avantajına, pazarda büyüme potansiyeline ve 

girişimci ekibe göre yapmanı tavsiye ederiz.</p>

<p>1. maddeye ek:
  Not: Profesyonel yatırımcılar risklerini minimize etmek amacıyla portfolyolarındaki şirket sayısını 25-

35 arasında tutmaya çalışırlar. Bu nedenle biz de senin portfolyonu 35 ile sınırlamayı uygun gördük.</p>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <a href="/investments/new" class="btn btn-success btn-lg active" role="button">Yatırım Yap</a>
  </div>
</div>
